<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--注册DataSource：spring框架内置的数据源-->
    <!--<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/test"/>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="123"/>-->
    <!--</bean>-->

    <!--注册数据源DBCP-->
    <!--<bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/test"/>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="123"/>-->
    <!--</bean>-->



    <!--注册数据源C3P0-->
    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="JdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--注册jdbc属性文件：告诉框架去哪找jdbc属性文件-->
    <context:property-placeholder location="jdbc.properties"/>



    <!--注册JdbcTemplate-->
    <!--<bean id="myJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
        <!--<property name="dataSource" ref="myDataSource"/>-->
    <!--</bean>-->


<!--注册Dao-->
    <!--<bean id="studentDao" class="com.abc.dao.StudentDaoImpl">-->
        <!--<property name="jdbcTemplate" ref="myJdbcTemplate"/>-->
    <!--</bean>-->
<!--注册DAO ：将数据源直接注入给DAO-->
    <bean id="studentDao" class="com.abc.dao.StudentDaoImpl">
        <property name="dataSource" ref="myDataSource"/>
    </bean>


   <!--注册service-->
    <bean id="studentService" class="com.abc.service.StudentServiceImpl">
        <property name="dao" ref="studentDao"/>
    </bean>


</beans>